<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I.E. Fundadores</title>
    <link rel="stylesheet" href="../Static/css/style.css">
    <link rel="shortcut icon" href="../Static/img/icono.png" type="image/x-icon">   
    <link rel="stylesheet" href="../Static/css/columms.css">
</head>
<body>  
    <header>
        <nav>
            <a href="https://login.master2000.net/ingreso/index.php?AB=860f622423ba787d5bc670cc763f501c&DC=860f622423ba787d5bc670cc763f501c"target="_blank">Iniciar Sesión en Master</a>
        </nav>
    </header>
    <!-- carousel -->
    <div class="carousel">
        <!-- list item -->
        <div class="list">
            <div class="item">
                <img src="../Static/img/Slider.jpg" class="imagen1">

                <div class="content">
                    <div class="author">Feria de la ciencia 2025</div>
                    <div class="title">Institución educativa</div>
                    <div class="topic">Fundadores</div>
                    <div class="des">
                        Tan solo por la educación puede el hombre llegar a ser hombre. El hombre no es más que lo que la educación hace de él
                    </div>
                    <div class="buttons">
                        <button type="button" onclick="PaginaPrincipal()">
                        Ingresar
                        </button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="../Static/img/Sede_Principal.jpg" class="imagen1">

                <div class="content">
                    <div class="author">Feria de la ciencia 2025</div>
                    <div class="title">SEDE PRINCIPAL</div>
                    <div class="topic"></div>
                    <div class="des">
                        Carrera 47c-185 Carrera 101 #47c-71, Medellín, Antioquia
                    </div>
                    <div class="buttons">
                        <button type="button" onclick="PaginaPrincipal()">
                        Ingresar
                        </button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="../Static/img/Sede_Socorro.jpg" class="imagen1">

                <div class="content">
                    <div class="author">Feria de la ciencia 2025</div>
                    <div class="title">SEDE SOCORRO</div>
                    <div class="topic"></div>
                    <div class="des">
                        Carrera 102B #47B-32 - Medellín, Antioquia
                    </div>
                    <div class="buttons">
                        <button type="button" onclick="PaginaPrincipal()">
                        Ingresar
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- list thumnail -->
        <div class="thumbnail">
            <div class="item">
                <img src="../Static/img/Slider.jpg" class="imagen1">
                <div class="content">
                    <div class="title">
                        I.E Fundadores
                    </div>
                    <div class="description">
                        San javier - Medellín, Antioquia
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="../Static/img/Sede_Principal.jpg" class="imagen1">

                <div class="content">
                    <div class="title">
                        Sede Principal
                    </div>
                    <div class="description">
                        Educación de 6° a 11°
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="../Static/img/Sede_Socorro.jpg" class="imagen1">

                <div class="content">
                    <div class="title">
                        Sede Socorro
                    </div>
                    <div class="description">
                        Educación Primaria hasta 5°.
                    </div>
                </div>
            </div>
        </div>
        <!-- next prev -->
        <div class="arrows">
            <button id="prev"><</button>
            <button id="next">></button>
        </div>
        <!-- time running -->
        <div class="time"></div>
    </div>

    <!-- recursos digitales -->

    <div class="large-3 medium-6 small-12 columns float-left">
        <div class="top-bar">
            <div class="small-up-1 medium-up-1 large-up-1">              
                <a href="https://login.master2000.net/ingreso/?A=105001026697&&" target="_blank" class="expanded button primary">
                    <img src="img/master2000.png" alt="Software Académico Master2000" /> 
                    Master2000<br />
                    <small>Software Académico</small>
                </a>
    <!-- Botón Revista con submenú y hover -->

                <div class="column dropdown">
                    <div class="row">
                        <a href="index2.php?id=134089&idmenutipo=8078" class="expanded button success">
                            <img src="img/revista.png" alt="Revista" /> 
                            Revista
                            <span class="submenu-arrow">▼</span>
                        </a>
                        <div class="submenu">
                            <a href="#">Ediciones</a>
                            <a href="#">Publicar</a>
                            <a href="#">Archivo</a>
                        </div>
                    </div>
                </div>
    <!-- Botón Conéctate Digital con submenú y hover -->
                <div class="column dropdown">
                    <div class="row">
                        <a href="index2.php?id=108892&idmenutipo=4568" class="expanded button primary">
                            <img src="img/digital.png" alt="Conéctate Digital" /> 
                            Conéctate Digital
                            <span class="submenu-arrow">▼</span>
                        </a>
                        <div class="submenu">
                            <a href="#">Plataforma</a>
                            <a href="#">Tutoriales</a>
                            <a href="#">Soporte</a>
                        </div>
                    </div>
                </div>
    <!-- Botón Notifundadores con submenú y hover -->
                <div class="column dropdown">
                    <div class="row">
                        <a href="index2.php?id=136211&idmenutipo=8078" class="expanded button success">
                            <img src="img/notifundadores.png" alt="Periódico" /> 
                            Periódico escolar<br>
                            <small>Notifundadores</small>
                            <span class="submenu-arrow">▼</span>
                        </a>
                        <div class="submenu">
                            <a href="#">Ultima edición</a>
                            <a href="#">Archivo</a>
                            <a href="#">Enviar noticia</a>
                        </div>
                    </div>
                </div>
     <!-- Botón Emisora con submenú y hover -->
                <div class="column dropdown">
                    <div class="row">
                        <a href="https://zeno.fm/fundadores-stereo/" target="_blank" class="expanded button primary">
                            <img src="img/emisora.png" alt="Emisora" />
                            <small>Emisora Escolar<br>Fundadores Stereo</small>
                            <span class="submenu-arrow">▼</span>
                        </a>
                        <div class="submenu">
                            <a href="#">Escuchar en vivo</a>
                            <a href="#">Programación</a>
                            <a href="#">Podcast</a>
                        </div>
                    </div>
                </div>
            </div>  
        </div>
    </div>

    <!-- mapa -->
    <div class="large-3 medium-12 small-12 columns float-right">
        <div class="top-bar">
            <div class="small-up-1 medium-up-1 large-up-1">              
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7932.066873578683!2d-75.616854!3d6.259326!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2e0d1e6ae43fd6db!2sIE%20Fundadores!5e0!3m2!1ses!2sus!4v1617745242477!5m2!1ses!2sus" 
                        width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>

    <!-- Primera columna de recursos institucionales -->
    <div class="large-3 medium-6 small-12 columns float-left">
        <div class="top-bar row">
            <div class="column">
                <!-- Botón Proyecto Cultura Fundadores -->
                <div class="dropdown">
                    <div class="row">
                        <a href="index2.php?id=111600&idmenutipo=8078&tag=" class="button warning">
                            <img src="img/cronograma.png" alt="Proyecto Cultura Fundadores" />
                            <small>Proyecto Cultura Fundadores</small>
                            <span class="submenu-arrow">▼</span>
                        </a>
                        <div class="submenu">
                            <a href="#">Cronograma</a>
                            <a href="#">Actividades</a>
                            <a href="#">Galería</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <!-- Botón P.E.I. -->
                <div class="dropdown">
                    <div class="row">
                        <a href="https://modulo.master2000.net/recursos/uploads/557/2022/PROYECTOEDUCATIVOINSTITUCIONALACTUALIZADO.pdf" target="_blank" class="button warning">
                            <img src="img/pei.png" alt="PEI" />
                            <small>P.E.I.</small>
                            <span class="submenu-arrow">▼</span>
                        </a>
                        <div class="submenu">
                            <a href="#">Ver documento</a>
                            <a href="#">Resumen</a>
                            <a href="#">Historia</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <!-- Botón S.I.E.E. -->
                <div class="dropdown">
                    <div class="row">
                        <a href="https://modulo.master2000.net/recursos/uploads/557/2024/SIEEI.EFUNDADORES2024ULTIMAACTUALIZACION.pdf" target="_blank" class="button warning">
                            <img src="img/siee.png" alt="SIEE" />
                            <small>S.I.E.E.</small>
                            <span class="submenu-arrow">▼</span>
                        </a>
                        <div class="submenu">
                            <a href="#">Ver documento</a>
                            <a href="#">Normatividad</a>
                            <a href="#">Preguntas frecuentes</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Segunda columna de recursos -->

    <div class="large-3 large-push-3 medium-6 small-12 columns">
        <div class="top-bar row">
            <div class="column">

                <!-- Botón Consejo de Padres con submenú y hover -->

                <div class="dropdown">
                    <div class="row">
                        <a href="index2.php?id=111597&idmenutipo=8078&tag=" class="button warning">
                            <img src="img/cpadres.png" alt="Consejo de Padres" />
                            <small>Consejo de Padres</small>
                            <span class="submenu-arrow">▼</span>
                        </a>
                        <div class="submenu">
                            <a href="#">Integrantes</a>
                            <a href="#">Actas</a>
                            <a href="#">Contacto</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">

                <!-- Botón Directorio Docentes con submenú y hover -->
                 
                <div class="dropdown">
                    <div class="row">
                        <a href="index2.php?id=111598&idmenutipo=8078&tag=" class="button warning">
                            <img src="img/dirdocentes.png" alt="Directorio Docentes" />
                            <small>Directorio Docente</small>
                            <span class="submenu-arrow">▼</span>
                        </a>
                        <div class="submenu">
                            <a href="#">Ver directorio</a>
                            <a href="#">Correo institucional</a>
                            <a href="#">Horarios</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <!-- Botón Circulares con submenú y hover -->
                <div class="dropdown">
                    <div class="row">
                        <a href="index2.php?id=111599&idmenutipo=8078&tag=" class="button warning">
                            <img src="img/circulares.png" alt="Circulares" />
                            <small>circulares</small>
                            <span class="submenu-arrow">▼</span>
                        </a>
                        <div class="submenu">
                            <a href="#">Circulares recientes</a>
                            <a href="#">Histórico</a>
                            <a href="#">Descargar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../Static/js/script.js"></script>
  
    <div id="themeToggle-container"></div> <!-- Contenedor para el botón de tema (JS lo llena) -->
</body>
</html>