<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="Login.js">
    <link rel="icon" href="https://github.com/NicolleG30/IMAGENES-MOVIMED/blob/main/ICONO%20MOVIMED.png?raw=true" type="image/png">
    <title>Iniciar Sesión</title>
    <style>
        
    </style>
</head>
<body>

    
    <form action="">

        <div class="form-container">
            <img src="https://github.com/NicolleG30/IMAGENES-MOVIMED/blob/main/LOGO%20MOVIMED.png?raw=true" alt="Logo" class="logo">
            <h2>Iniciar Sesión</h2>
            <form action="">
                <label for="Usuario">Ingrese su usuario</label>
                <input type="text" id="Usuario" placeholder="Usuario" required>
    
                <label for="Contraseña">Ingrese su contraseña</label>
                <input type="password" id="Contraseña" placeholder="Contraseña" required>
    
                <button><a href="movimed.html" class="inicio">Iniciar sesión</a></button>
                <p> <a href="registro.html">Registrarme</a></p>
    </form>


</body>
</html>