<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Media Técnica</title>
    <link rel="stylesheet" href="../Static/css/Principal_Fundadores.css">
    <link rel="stylesheet" href="../Static/css/media_tecnica.css">
    <link rel="shortcut icon" href="../Static/img/icono.png" type="image/x-icon">
</head>
<body>
    <header>
        <a href="index.html" class="enlace"><h1>I.E. Fundadores</h1></a>
    </header>
    <div id="media-container"></div>
    <script src="../Static/js/media_tecnica.js"></script>
</body>
</html>