<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>I.E. Fundadores - Principal</title>
    <link rel="stylesheet" href="../Static/css/Principal_Fundadores.css">
    <link rel="shortcut icon" href="../Static/img/icono.png" type="image/x-icon">
</head>
<body>
    <!-- Header -->
    <header class="header">
        <div class="logo">
            <a href="index.html" class="enlace"><h1>I.E. Fundadores</h1></a>
        </div>
        <nav class="navbar">
            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="#" class="nav-link">Mi Colegio</a>
                    <ul class="submenu">
                        <li><a href="#">Historia</a></li>
                        <li><a href="#">Misión y Visión</a></li>
                        <li><a href="#">Instalaciones</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Docentes</a>
                    <ul class="submenu">
                        <li><a href="#">Directivos</a></li>
                        <li><a href="#">Profesores</a></li>
                        <li><a href="#">Personal Administrativo</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Estudiantes</a>
                    <ul class="submenu">
                        <li><a href="#">Admisiones</a></li>
                        <li><a href="#">Calificaciones</a></li>
                        <li><a href="#">Actividades</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Gestión académica</a>
                    <ul class="submenu">
                        <li><a href="#">Plan de Estudios</a></li>
                        <li><a href="#">Horarios</a></li>
                        <li><a href="#">Evaluaciones</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Gobierno Escolar</a>
                    <ul class="submenu">
                        <li><a href="#">Consejo Directivo</a></li>
                        <li><a href="#">Comité de Convivencia</a></li>
                        <li><a href="#">Asamblea de Padres</a></li>
                    </ul>
                </li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>

    <!-- Carrusel -->
    <div class="carousel">
        <div class="carousel-inner">
            <div class="carousel-item">
                <a href="pagina1.html">
                    <img src="../Static/img/Carrusel_1.jpg" alt="Imagen 1">
                </a>
            </div>
            <div class="carousel-item">
                <a href="pagina2.html">
                    <img src="../Static/img/Carrusel_2.jpg" alt="Imagen 2">
                </a>
            </div>
            <div class="carousel-item">
                <a href="pagina3.html">
                    <img src="../Static/img/Carrusel_3.jpg" alt="Imagen 3">
                </a>
            </div>
            <!-- Agrega más imágenes según sea necesario -->
        </div>
        <button class="carousel-control-prev" onclick="prevSlide()">&#10094;</button>
        <button class="carousel-control-next" onclick="nextSlide()">&#10095;</button>
    </div>

    <script src="../Static/js/Principal_Fundadores.js"></script>
</body>
</html>